/*
 *= require admin/bootstrap-and-fontawesome
 *= require jplayer/jplayer.blue.monday
 *= require_self
 */

textarea {
	resize: none;
}

abbr {
	color: #9d261d;
}

legend {
	margin-bottom: 0;
}

.span-full {
	width: 99%;
}

 /*show*/
div.video{
	text-align: center;
	margin-bottom:20px; 
}
#videos-show h2{
	margin-bottom: 15px;
}
.video div.jp-video{
	margin: 0 auto;
	text-align: center;
}

 /*list*/
 td.actions a{
 	margin-right: 15px;
 }
 /* 表单 */
.simple_form {
  .help-block {
  	color: #ccc;
  }
  .control-group.error .help-block {
  	color: #ccc;
  }
  .thumb {
  	margin-bottom: 10px;
  }
  textarea {
  	height: 80px;
  }
  .control-group.alert {
  	padding: 8px 35px 8px 14px;
  }
}

#main {
	.form-frame {
		width: 70%;
		.form-actions {
			margin-bottom: 0;
		}
	}
	.form-sidebar {
		width: 28%;
	}
}

button.btn{
	vertical-align:middle;
	i.icon-large{
		display:inline-block;
		margin-top:6px;
	}
}
a.btn{
  i.icon-large{
		display:inline-block;
    padding-top:6px;
		margin-right:4px;
	}
}
div.video{
  text-align:center;
}
span.prompt{
	color:#a2201a;
}
#videos_index .thumbnail {
  margin-right:0;
  margin-left:0;
}
  
#videos div.article{
  margin-top:20px;
  p{
    font-size:14px;
  }
}
#videos-index .name{
  width:500px;
}
#videos-index .actions,#videos-index .select-all{
  text-align:center;
}
/* 登录页面 */
#sessions-new {
	padding-top: 150px;
  .content{
    margin-left:400px;
  }
	.control-group {
		margin-bottom: 30px;
	}
	.form-inputs, .form-actions {
		width: 90%;
		margin: 0 auto;
	}
	.form-actions {
		background-color: transparent;
		padding: 20px 0 0 0;
	}
	.prepend_password {
		//margin-bottom: 30px;
	}
	.control-group.bootstrap_check_box {
		margin-bottom: 10px;
	}
	.input-prepend .add-on, .input-append .add-on {
		height: 24px;
		line-height: 24px;
	}
	input[type="text"], input[type="password"] {
		height: 24px;
		line-height: 20px;
	}
}

/* 表格页脚 */
.table-footer {
	.paginates-info {
		width: 29%;
		float: left;
		height:36px;
		line-height:36px;
    margin-top:-7px;
	}
	.pagination {
		width: 60%;
		float:right;
		margin:0;
		text-align:right;
    vertical-align:middle;
	}
}
div.search .btn{
  margin-left:-5px;
}
 .brand,  .dropdown-toggle{
  padding-bottom:-5px;
  margin-bottom:-5px;
}

.dropdown-toggle{
  margin-top:5px;
}
.home{
  font-size:14px;
  font-weight: bold;
  color:#ccc;
}

div.content{
  margin-top:70px;
}
div.btn-group{
  margin-bottom:10px;
}
#toolbar{
  margin-bottom:0;
  margin-top:12px;
  div{
  margin-bottom:0;
  }
}
.row{
	margin-top:10px;
	.well{
		padding-top:5px
	}
}
h4.comment{
	margin-bottom:5px;
}

.comment span{
  color:#999;
  font-size:12px;
  padding-right:10px;
}

#comments-index{
	.name{
		width:20%;
	}
	.body{
		width:50%;
	}
	.actions{
		text-align:center;
	}
}