/*
 *= require admin/bootstrap-and-fontawesome
 *= require jplayer/jplayer.pink.flag
 *= require_self
 */


/* 表单 */
.simple_form .help-block {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 0; 
  text-align: left;
}
#videos .simple_form textarea{
  height: 120px;
}
#videos .simple_form .icon-large{
  display:inline-block;
  margin-top:6px;
}
#videos .control-label{
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}
.simple_form .form-actions{
  margin: 0;
  padding: 5px 0;
}
.video h2{
  font-size:24px;
}

.white-bg{
  border-bottom-width:0;
}
#videos .well-inner{
  text-align:center;
  padding-left:5px;
  padding-right:5px;
}
#videos .btn-toolbar{
  margin:0 auto;
  text-align:center;
}

#videos_index{
  width:250px;
}
#videos_index .video_index{
  margin-left:0;
  margin-bottom:20px;
}
#videos_index{
  margin:0 auto;
  text-align:center;
}
#videos div.well{
 	margin-bottom: -10px;
 }
#videos div.input-append{
 	text-align: right;
 }
 #videos input.required{
	width: 80%;
 }
#videos div.article{
  margin-top:20px;
  p{
    font-size:14px;
  }
}
#videos .video_index a{
  margin-bottom: 5px;
}

/* 表格页脚 */
#videos .table-footer .pagination{
  margin-top:10px;
}
#videos_index .other{
  margin-bottom:2px;
  font-weight: bold;
  font-size:16px;
}

div.search .btn{
  margin-left:-6px;
}
#jp_container_1{
  margin-bottom: 10px;
}
#videos .publish{
  padding-top:15px;
  padding-bottom:5px;
}
.comment h4, #videos .simple_form label{
  color:#000;
  font-weight: bold;
  font-size:15px;
  margin-left:5px;
  margin-bottom:5px;
  margin-top:10px;
}

#videos .simple_form .controls,#videos .simple_form p{
  text-align:center;
}
#videos .simple_form .form-actions{
  padding-top:7px;
  padding-bottom:7px;
}
.comment{
  text-align:left;
}
.comment span{
  color:#999;
  font-size:12px;
  padding-right:10px;
}
.comment p{
  margin-top:5px;
  margin-bottom:3px;
  margin-left:15px;
  font-size:14px;
}
html {margin:0;padding:0;border:0;}
body{margin:0;padding:0;border:0;vertical-align:baseline;}
.frame { 
  border:1px solid #ccc;
  margin:5px;position:
  relative;background:#fff;
  padding-bottom:15px;
}
.small-logo{
  background-color:#c52720;
  display:block;
  padding-top:5px;
  padding-bottom:5px;
}
.small-logo a{
  margin-left:15px;
  float:left;color:#fff;
  text-decoration:none;
  background-image:url(index/allows1.jpg);
	padding-left:27px;
  padding-top:3px;
  background-repeat:no-repeat;
  background-position:12px;
}
.small-logo img{
  margin-right:30px;
  float:right;
}
.navigation{
  text-align:right;background-color:#a2201a;
  padding-right:10px; 
  height: 18px;
}
.navigation img { 
  height: 13px; 
  margin-top: 2.5px;
}
.jp-playlist li {
	clear:both;
}
.jp-playlist-item span.title {
	float:left;
}
.jp-playlist-item span.time {
	display:block;
	float:right;
}
.jp-current-time, .jp-duration{
	margin-top:8px;
	font-size:12px;
}
.jp-current-time{
	margin-left:-5px;
}
.jp-duration{
	margin-right:-5px;
}
.jp-video {
	width:250px;
	margin-bottom:5px;
}

#jp-gui div.jp-video-play{
	height:150px;
}
div.back_to{
	text-align:right;
	padding-top:5px;
	padding-right:10px;
	margin-top: 10px;
	margin-bottom:-3px;
}
div.back_to a{
	font-size: 14px;
	padding-left:15px;
  padding-top:2px;
	background-image:url(index/allows2.jpg);
	background-repeat:no-repeat;
	background-position:left;
	text-decoration:none;
}
#copyright{
	text-align:center;
	text-align:center;
	border-top:1px solid #ccc;
	margin-top:15px;
	padding-top:10px;
  margin-bottom:-25px;
  height:60px;
}
.costumes {
	text-align:center;
}
.jp-gui div.jp-interface {
	background-color:#77110d;
}
.frame div.jp-video{
	background-color:#77110d;
}
.frame div.jp-video div.jp-video-play{
	border:1px solid #77110d;
}
div.jp-current-time, div.jp-duration{
	color:white;
}
div.jp-video .jp-progress{
	border-bottom:1px solid #999;
}
div.data p{
	word-break:break-all;
  margin:0;
}
.other_1{
	color:white;
  font-size:12px;
}
.other_2{
	color:#999;
	font-size:12px;
}
h5,p.font18,span.content{
	margin:0 auto;
	color:#999;
}

span.prompt,span.prompting{
	color:#a2201a;
}
span.prompting{
	font-weight:bold;
	font-size:15px;
}

#videos .alert{
  margin-left:10px;
  margin-right:10px;
}